<div class="container-fluid bg-primary">
  <div class="container">
    <header class="row pt-3 text-light">
      <div class="col ml-1">
        <div class="h1">Michał Mentel</div>
        <div>Java Developer</div>
      </div>
      <div class="nav-item noPrint" ngbDropdown>
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown2" role="button">
          Language
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
          <a ngbDropdownItem href="#" (click)="$event.preventDefault(); change(language)" *ngFor="let language of languages">
            {{ 'LANGUAGES.' + language | translate }}
          </a>
        </div>
      </div>
    </header>
  </div>
</div>
