<div class="mt-4">
  <h6 class="text-primary">
    {{ 'HEADERS.GENERAL' | translate }}
  </h6>
  <div class="row mt-2" *ngFor="let info of infos">
    <div class="col-sm-3 col-xl-2 text-secondary">
      {{info.key}}
    </div>
    <div class="col-sm-9 col-xl-10">
      <a [href]="info.link" *ngIf="info.link; else plainInfoValue">
        <ng-container *ngTemplateOutlet="plainInfoValue"></ng-container>
      </a>
      <ng-template #plainInfoValue>{{info.value}}</ng-template>
    </div>
  </div>
</div>
