<div class="pt-4 breakAvoid" *ngFor="let category of skills">
  <h6 class="text-primary">
    {{"HEADERS." + category.name | uppercase | translate}}
  </h6>
  <div class="row pt-1" *ngFor="let skill of category?.skills">
    <div class="col-sm-2 col-lg-3">
      {{skill.name}}
    </div>
    <div class="col-sm-10 col-lg-9 pt-2">
      <ngb-progressbar [type]="skill.color" [value]="skill.level" height="1.1em">{{skill.info}}</ngb-progressbar>
    </div>
  </div>
</div>

