<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <app-general></app-general>
      <app-about></app-about>
      <app-timelines></app-timelines>
    </div>
    <div class="col-lg-4">
      <app-skills></app-skills>
    </div>
  </div>
  <footer class="row mt-4 pb-2">
    <small class="col-12 text-secondary text-center border-top">
      {{ "LEGAL_DISCLAIMER" | translate:{company: "--COMPANY-NAME--"} }}
    </small>
  </footer>
</div>
